.table-wrapper {
  background-color: #ffffff;
  height: 75%;
  overflow: auto;
  border-bottom: solid 5px #dcdcdc;
  border-top: solid 1px #dcdcdc;
  scrollbar-width: thin;
}
.mat-mdc-progress-spinner{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
