<div class="page-wrapper">
  <div class="table-wrapper">
    <app-mat-table *ngIf="!isLoading" [displayedColumns]="displayedCols"
                   [colsKeys]="colsKeys"
                   [dataSource]="data"
                   (sortChanged)="onSortChange($event)"
    ></app-mat-table>
    <mat-spinner *ngIf="isLoading"></mat-spinner>
  </div>
  <app-paginator
    [disabled]="isLoading"
    [totalResultLength]="totalResultLength"
    [pageSize]="pageSize"
    [pageIndex]="currentPage"
    [pageSizeOptions]="pageSizeOptions"
    (pageChange)="onPaginationChange($event)">
  </app-paginator>
</div>
