<div class="page-wrapper">
  <div class="filters">
    <div class="date-pickers">
      <app-date-picker Type="start" Title="Start Date" (dateChanged)="onDateChange($event)"></app-date-picker>
      <app-date-picker Type="end" Title="End Date" (dateChanged)="onDateChange($event)"></app-date-picker>

    </div>
    <mat-slide-toggle (toggleChange)="urgentToggle()">Urgent only</mat-slide-toggle>
  </div>
  <div class="grid-wrapper">
    <app-grid *ngIf="!isLoading" [displayedColumns]="displayedColsGrid"
              [dataSource]="dataToShow"
              (sortChanged)="onSortChange($event)"
    ></app-grid>
    <mat-spinner *ngIf="isLoading"></mat-spinner>
  </div>
  <app-paginator
    [disabled]="isLoading"
    [totalResultLength]="totalResultLength"
    [pageSize]="pageSize"
    [pageIndex]="currentPage"
    [pageSizeOptions]="pageSizeOptions"
    (pageChange)="onPaginationChange($event)">
  </app-paginator>
</div>
