<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

  <ng-container matSort *ngFor="let column of displayedColumns" [matColumnDef]="column">
    <th mat-sort-header mat-header-cell *matHeaderCellDef class="col-title" (click)="sortData(column)">
      {{ column | formatColumn }}
    </th>
    <td mat-cell *matCellDef="let element">
      <span *ngIf="column === 'urgent' && element[column]" class="urgent"> Urgent </span>
      <span *ngIf="column !== 'urgent'">{{ element[column] | formatData}}</span>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

</table>
